<link rel="stylesheet" href="/visitor/css/detail.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap&subset=chinese-simplified" rel="stylesheet">

<img src="{{.post.Cover}}" class="detail-image" alt="">

<div class="content layui-container">
    <h1>{{.post.Title}}</h1>
    <div class="markdown">
        {{.content}}
    </div>
    <div class="comment-divider">评论</div>
    <div>
        {{range .comments}}
            <div class="wrapper">
                <img class="img" src="{{.User.Avatar}}">
                <div class="text">
                    <p class="comment-info">{{.User.Nickname}} 创建于 {{date .Created}}</p>
                    <p class="comment-content">{{.Content}}</p>
                </div>
            </div>
        {{end}}
    </div>
    <button id="btnLogin" class="layui-btn comment-button{{if not .needLogin}} hide{{end}}">登录发表评论</button>

    <div class="formContainer{{if .needLogin}} hide{{end}}">
        <div class="left">
            <img class="comment-avatar" src="{{.user.Avatar}}">
        </div>
        <div class="right">
            <p style="margin-bottom: 10px">{{.user.Nickname}} <span id="btnLogout" style="color: deepskyblue;">退出登录</span></p>
            <form class="layui-form">
                <input type="hidden" name="post_id" value="{{.post.ID}}">
                <textarea name="content" placeholder="请输入您的评论" class="layui-textarea"></textarea>
                <button class="layui-btn comment-button" lay-submit lay-filter="formDemo">发表</button>
            </form>
        </div>
    </div>
</div>


