
* {
    margin: 0;
    padding: 0;
}

html {
    background: url('/files/6c0a79b71832371fcba9eb5db0807c77.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* todo 修复在移动端的不居中的问题 */
.center {
    width: 350px;
    height: 250px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}