<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/prism/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="/visitor/css/visitor.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <meta name="description" content="{{ pref.BlogName }}">
    <meta name="author" content="{{ pref.Email }}">
    <title>{{ pref.BlogName }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
{{if pref.TAID}}
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId={{pref.TAID}}" charset="UTF-8"></script>
{{end}}
<body>
<div class="nav-divider">
    <div class="nav-container">
        <nav class="navbar">
            <a href="/" class="logo">{{ pref.BlogName }}</a>
            <ul class="main-nav" id="js-menu">
                <li><a href="/" class="nav-links{{if eq .tab "home"}} tab-selected{{end}}">Home</a></li>
                <li><a href="/search" class="nav-links{{if eq .tab "search"}} tab-selected{{end}}">Search</a></li>
                <li><a href="/about" class="nav-links{{if eq .tab "about"}} tab-selected{{end}}">About Me</a></li>
            </ul>
            <span class="navbar-toggle" id="js-navbar-toggle">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </span>
        </nav>
    </div>
</div>
{{yield}}
<footer>
    <p>Copyright &copy;
        <a class="footer-text" href="mailto:{{ pref.Email }}">{{ pref.BlogName }}</a> 2018 {{if pref.BeiAn}}| <a href="http://beian.miit.gov.cn" class="footer-text">{{pref.BeiAn}}</a>{{end}}
    </p>
</footer>
</body>
<script>
    var $;
    var toast;
    var tab = {{.tab}};
    var bn = {{ pref.BlogName }};
</script>
<script src="/layui/layui.js"></script>
<script src="/visitor/js/visitor.js"></script>
<script src="/prism/prism.js"></script>
</html>